@model IEnumerable<e_learning_app.Models.Message>

@{
    ViewData["Title"] = "Strona Główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ogólne Wiadomości</h2>

@if (Model != null && Model.Any())
{
    <ul class="list-group">
        @foreach (var message in Model.OrderByDescending(m => m.CreatedAt))
        {
            <li class="list-group-item">
                <strong>@message.CreatedAt.ToLocalTime():</strong> @message.Content
            </li>
        }
    </ul>
}
else
{
    <p>Brak ogólnych wiadomości.</p>
}