@model e_learning_app.Models.Subject

@{
ViewData["Title"] = "Dodaj Nowy Przedmiot";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodaj Nowy Przedmiot</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br/>
    <button type="submit" class="btn btn-success">Dodaj</button>
    <a href="@Url.Action("Index", "TeacherDashboard")" class="btn btn-secondary">Anuluj</a>
</form>

