@{
    ViewData["Title"] = "Dołącz do Przedmiotu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dołącz do Przedmiotu</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<form asp-action="Join" method="post">
    <div class="form-group">
        <label for="joinCode">Kod Dołączenia</label>
        <input type="text" id="joinCode" name="joinCode" class="form-control" required />
    </div>
    <br/>
    <button type="submit" class="btn btn-success">Dołącz</button>
    <a href="@Url.Action("Index", "StudentDashboard")" class="btn btn-secondary">Anuluj</a>
</form>